# Day 5 Assignment

## Excercises:Level 1

In [1]:
# Declare an empty list
empty_list = []

In [2]:
#Declare a list with more than 5 items
names = ['Amina', 'Abubakar', 'Yusuf', 'Aman', 'Aisha', 'Fatima','Aminu']
print(names)

['Amina', 'Abubakar', 'Yusuf', 'Aman', 'Aisha', 'Fatima', 'Aminu']

In [3]:
#Find length of your list
print(len(names))

7

In [4]:
#Get the first item, the middle item and the last item of the list
print(f'First item: {names[0]}')
print(f'Middle item: {names[len(names) // 2]}')
print(f'Last item: {names[-1]}')

First item: Amina
Middle item: Aman
Last item: Aminu

In [5]:
#Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
name = 'Amina'
age = 29  
height = 1.55 #in meters 
marital_status = 'Married'
address = 'Saulawa'
mixed_data_types = [name, age, height, marital_status, address]

print(mixed_data_types)

['Amina', 29, 1.55, 'Married', 'Saulawa']

In [6]:
#Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [7]:
#Print the list using print()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [8]:
#Print the number of companies in the list
print(f'Number of companies: {len(it_companies)}')

Number of companies: 7

In [9]:
#Print the first, middle and last company
print(f'First company: {it_companies[0]}')
print(f'Middle company: {it_companies[len(it_companies) // 2]}')
print(f'Last company: {it_companies[-1]}')

First company: Facebook
Middle company: Apple
Last company: Amazon

In [13]:
#Print the list after modifying one of the companies
word_to_remove = "Apple"
it_companies.remove(word_to_remove)
print(it_companies)

['Facebook', 'Google', 'BlackBerry', 'IBM', 'Oracle', 'Amazon']

In [14]:
#Add an IT company to it_companies
it_companies.append('Microsoft')
print(it_companies)

['Facebook', 'Google', 'BlackBerry', 'IBM', 'Oracle', 'Amazon', 'Microsoft']

In [15]:
#Insert an IT company in the middle of companies list
middle_index = len(it_companies) // 2
it_companies.insert(middle_index, 'Twitter')
print(it_companies)

['Facebook', 'Google', 'BlackBerry', 'Twitter', 'IBM', 'Oracle', 'Amazon', 'Microsoft']

In [20]:
#Change one of the it_companies names to uppercase (IBM excluded!)
item_index = 0 
it_companies[item_index] = it_companies[item_index].upper()
print(f'Updated: {it_companies}')

Updated: ['FACEBOOK', 'google', 'BlackBerry', 'Twitter', 'IBM', 'Oracle', 'Amazon', 'Microsoft']

In [22]:
#Join the it_companies with a string '#;  '
join_com = '#;'.join(it_companies)
print(f'Companies : {join_com}')

Companies : FACEBOOK#;google#;BlackBerry#;Twitter#;IBM#;Oracle#;Amazon#;Microsoft

In [24]:
#Check if a certain company exists in the it_companies list.
check_company = 'BlackBerry'

if check_company in it_companies:
    print(f'{check_company} exists in the list.')
else:
    print(f'{check_company} does not exist in the list.')

BlackBerry exists in the list.

In [25]:
#Sort the list using sort() method
it_companies.sort()
print(f'Sorted list: {it_companies}')

Sorted list: ['Amazon', 'BlackBerry', 'FACEBOOK', 'IBM', 'Microsoft', 'Oracle', 'Twitter', 'google']

In [26]:
#Reverse the list in descending order using reverse() method
it_companies.reverse()
print(f'Reversed list:{it_companies}')

Reversed list:['google', 'Twitter', 'Oracle', 'Microsoft', 'IBM', 'FACEBOOK', 'BlackBerry', 'Amazon']

In [47]:
#Slice out the first 3 companies from the list
print(it_companies[3:])

['Microsoft', 'IBM', 'FACEBOOK', 'BlackBerry', 'Amazon']

In [50]:
#Slice out the last 3 companies from the list
print(it_companies[:-3])

['google', 'Twitter', 'Oracle', 'Microsoft', 'IBM']

In [59]:
#Remove the first IT company from the list
print(it_companies[1:])

['Microsoft', 'IBM', 'FACEBOOK', 'BlackBerry', 'Amazon']

In [62]:
#Remove the middle IT company or companies from the list
middle_index = len(it_companies) // 2
removed_item = it_companies.pop(middle_index)

print(it_companies)

['Oracle', 'Microsoft', 'BlackBerry', 'Amazon']

In [ ]:
#Remove the last IT company from the list
del it_companies[6]
print(it_companies}')

In [63]:
#Destroy the IT companies list
it_companies.clear()
print(it_companies)

[]

In [64]:
#Join the lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end.extend (back_end)

print('Frontend and Backend:', front_end)

Frontend and Backend: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [65]:
#Copy the joined list, assign it to a variable full_stack and insert Python and SQL after Redux.
full_stack = ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
redux_index = full_stack.index('Redux')

full_stack.insert(redux_index + 1, 'Python')
full_stack.insert(redux_index + 2, 'SQL')

print('Updated Full Stack:', full_stack)

Updated Full Stack: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

## Excercise 2

In [13]:
#Sort the list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()
min_age = min(ages)
max_age = max(ages)

print('Sorted Ages:', ages)
print('Minimum Age:', min_age)
print('Maximum Age:', max_age)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age: 19
Maximum Age: 26

In [17]:
#Add the min and max age again to the list
ages.append(min_age)
ages.append(max_age)

print(f'Updated Ages:', ages)

Updated Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26, 19, 26]

In [18]:
#Find the median age (one middle item or two middle items divided by two)
n = len(ages)
middle1 = ages[n // 2 - 1]
middle2 = ages[n // 2]
median_age = (middle1 + middle2) / 2

print('Median Age:', median_age)

Median Age: 24.5

In [19]:
#Find the average age 
average_age = sum(ages) / len(ages)
print('Average Age:', average_age)

Average Age: 22.714285714285715

In [20]:
#Find the range of the ages 
age_range = max(ages) - min(ages)

print('Range of Ages:', age_range)

Range of Ages: 7

In [21]:
#Compare the value of (min - average) and (max - average), use abs() method
average_age = sum(ages) / len(ages)

min_difference = abs(min(ages) - average_age)
max_difference = abs(max(ages) - average_age)

print('Absolute Difference (min - average):', min_difference)
print('Absolute Difference (max - average):', max_difference)

Absolute Difference (min - average): 3.7142857142857153
Absolute Difference (max - average): 3.2857142857142847

In [24]:
#Find the middle country(ies) in the countries list
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
    'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria',
    'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
    'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
    'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
    'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
    'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
    'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
    'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North',
    'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
    'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
    'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia',
    'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
    'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
    'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent',
    'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles',
    'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain',
    'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
    'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
    'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City',
    'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe',
]

middle_index = len(countries) // 2
middle_country = countries[middle_index]

print('Middle Country:', middle_country)

Middle Country: Lesotho

In [25]:
#Divide the countries list into two equal lists 
middle_index = len(countries) // 2

first_half = countries[:middle_index + len(countries) % 2:]
second_half = countries[middle_index + len(countries) % 2:]

print('First Half:', first_half)
print('Second Half:', second_half)

First Half: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
Second Half: ['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [26]:
# Unpack the first three countries and the rest as scandic countries.
first_country, second_country, third_country, *scandic_countries = countries

print('First Country:', first_country)
print('Second Country:', second_country)
print('Third Country:', third_country)
print('Scandic Countries:', scandic_countries)

First Country: Afghanistan
Second Country: Albania
Third Country: Algeria
Scandic Countries: ['Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']