# Day 7 Assignment

## Excercise:Level1

In [3]:
#Find the length of the set it_companies
it_companies = {'Facebook', 'IBM', 'Whatsapp', 'Apple', 'Google', 'Oracle', 'Amazon'}
print(len(it_companies))

7

In [4]:
#Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)

{'Amazon', 'Facebook', 'Whatsapp', 'Twitter', 'Apple', 'IBM', 'Oracle', 'Google'}

In [5]:
#Insert multiple IT companies at once to the set it_companies
it_companies.update(['M icrosoft', 'Intstagram', 'TikTok'])
print(it_companies)

{'Intstagram', 'Amazon', 'Whatsapp', 'Google', 'IBM', 'Oracle', 'Facebook', 'Twitter', 'Apple', 'TikTok', 'M icrosoft'}

In [6]:
#Remove one of the companies from the set it_companies
it_companies.pop()
print(it_companies)

{'Amazon', 'Whatsapp', 'Google', 'IBM', 'Oracle', 'Facebook', 'Twitter', 'Apple', 'TikTok', 'M icrosoft'}

In [9]:
#The remove() method will raise an error if the element is not present in the set
it_companies.remove('Telegram')
print(it_companies)

KeyError: 'Telegram'

In [10]:
#the discard() method will not raise an error in such a case
it_companies.discard('Telegram')
print(it_companies)

{'Amazon', 'Whatsapp', 'Google', 'Oracle', 'Facebook', 'Twitter', 'Apple', 'TikTok', 'M icrosoft'}

## Excercise: Level2

In [11]:
#Join A and B
A = {15, 21, 22, 20, 24, 26}
B = {15, 21, 20, 24, 26, 24, 28, 29}
C = A.union(B)
print(C)

{15, 20, 21, 22, 24, 26, 28, 29}

In [12]:
#Find A intersection B
A.intersection(B)

{15, 20, 21, 24, 26}

In [13]:
#Is A subset of B
A.issubset(B)

False

In [14]:
#Are A and B disjoint sets
A.isdisjoint(B)

False

In [15]:
#Join A with B and B with A
C = A.union(B)
D= B.union(A)
print(C)
print(D)

{15, 20, 21, 22, 24, 26, 28, 29}
{15, 20, 21, 22, 24, 26, 28, 29}

In [16]:
#symmetric difference between A and B
A.symmetric_difference(B)

{22, 28, 29}

In [17]:
#Delete the sets completely
del A
del B

## Excercise : Level3

In [18]:
#Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age = [19, 20, 24, 22, 26, 24, 25, 23]
to_set = set(age)
print(to_set)
print('Length of the list:', len(age))
print('Length of the set:', len(to_set))
print('List is bigger')

{19, 20, 22, 23, 24, 25, 26}
Length of the list: 8
Length of the set: 7
List is bigger

In [19]:
#difference between string, list, tuple and set
Strings = 'Strings are immutable sequences of characters, and they can be enclosed in single quotes, double quotes, or triple quotes.' 
print(Strings)
Lists = 'Lists are ordered, changeable, and can contain duplicate values,They are created using square brackets [] and can store elements of any data type, including strings, integers, and other objects.'
print(Lists)
Tuples = 'Tuples are immutable sequences of elements, but unlike strings, they can be mixed-type sequences. Tuples are created using parentheses () and can store elements in columns of a single row.'
print(Tuples)
Sets = 'Sets are mutable, unordered collections of unique elements,created using the set() function or the {} syntax and can store elements of any data type.'
print(Sets)

Strings are immutable sequences of characters, and they can be enclosed in single quotes, double quotes, or triple quotes.
Lists are ordered, changeable, and can contain duplicate values,They are created using square brackets [] and can store elements of any data type, including strings, integers, and other objects.
Tuples are immutable sequences of elements, but unlike strings, they can be mixed-type sequences. Tuples are created using parentheses () and can store elements in columns of a single row.
Sets are mutable, unordered collections of unique elements,created using the set() function or the {} syntax and can store elements of any data type.

In [20]:
#using split method to get set of unique words
sentence = 'I am a teacher and I love to inspire and teach people'
unique_words = set(sentence.split())
print('Unique words in the sentence:', unique_words)

Unique words in the sentence: {'to', 'inspire', 'teach', 'people', 'a', 'and', 'am', 'love', 'teacher', 'I'}